section.slider{
	margin: 0 auto 80px 0;
	width: 100%;
	height: 500px;
	padding: 0 !important;
	overflow: hidden;
}


.slider-content{
	width: 400%;
	height: auto;
	display: flex;
}


.slider-content input,
.img-mobile{
	display: none;
}

.slider-box{
	width: 25%;
	height: auto;
	position: relative;;
	text-align:center;
	transition:1s ;
}

.slider-box img{
	width: 100%;
	height: 100%;
}

.nav-manual,
.nav-auto{
	position: absolute;
	width: 100%;
	margin-top: 0;
	display: flex;
	justify-content: center;
	margin-top: 460px;
}

.nav-manual .manual-btn, .nav-auto div{
	border: 1px solid orangered;;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.5s;
}

.nav-manual .manual-btn:not(:last-child),.nav-auto div:not(:last-child){
	margin-right: 10px;
}

.nav-manual .manual-btn:hover{
	background-color: orangered;
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3{
	background-color: orangered;
}

#radio1:checked ~ .primeiro{
	margin-left: 0;
}

#radio2:checked ~ .primeiro{
	margin-left: -25%;
}
#radio3:checked ~ .primeiro{
	margin-left: -50%;
}






@media (min-width: 375px) and (max-width: 600px){
    .nav-manual, .nav-auto {
        margin-top: 245px;
    }

	section.slider {
		height: 280px;
	}

	.nav-manual .manual-btn, .nav-auto div {
		padding: 7px;
	}

}